* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  padding-top: 190px;
}
.arial {
  font-family: 'Arial Narrow', arial;
}
.lato_reg {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.lato_bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.lato_black {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.MinionPro {
  font-family: 'Minion Pro';
  font-weight: normal;
  font-style: normal;
}
.box_one {
  width: 100%;
  height: 65rem;
}
ul.col-md-3.menu {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
ul.col-md-3.menu a {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  font-size: 1.6rem;
  color: #f1f1f1;
  display: block;
  background-color: #00ccdd;
  position: relative;
  width: 100%;
  height: 5.5rem;
  text-align: center;
  color: #fff;
  line-height: 5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
ul.col-md-3.menu a i {
  position: absolute;
  margin-left: -3rem;
  line-height: 5rem;
}
ul.col-md-3.menu li {
  font-family: 'Arial', sans-serif;
  display: block;
  color: #000000;
  font-size: 1.4rem;
  line-height: 3.429;
  border-bottom: 1px solid #e9ecef;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
ul.col-md-3.menu li i {
  text-align: right;
  right: 2rem;
  position: absolute;
  line-height: 5rem;
  font-size: 1.8rem;
}
ul.col-md-3.menu li:last-child {
  border-bottom: none;
}
ul.col-md-3.menu li:hover {
  background-color: #f8f9fa;
}
.col-md-9 {
  max-width: 73%;
}
.sl {
  height: 31.5rem;
  background: #44b2b4;
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, #44b2b4), color-stop(86%, #7ac9af));
  background: linear-gradient(90deg, #44b2b4 48%, #7ac9af 86%);
  padding-right: 0;
  -webkit-transform: translateX(3%);
          transform: translateX(3%);
  color: #fff;
}
.sl h2 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  margin-left: 8.5%;
  padding-top: 4rem;
  font-size: 3.6rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.sl h3 {
  font-family: 'Minion Pro';
  font-weight: normal;
  font-style: normal;
  margin-left: 8.5%;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.sl h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 8.5%;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sl p {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-left: 8.5%;
  font-size: 4rem;
  line-height: 2rem;
}
.sl a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 8.5%;
  font-size: 1.4rem;
  line-height: 10rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  padding: 0.6rem 1rem;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}
.sl a i {
  margin-right: 0.5rem;
}
.sl a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #0b8dca;
  border: none;
  top: -0.2rem;
}
.slick-dots li {
  right: -40%;
  top: -5rem;
}
.slick-dots li button:before {
  font-size: 6rem;
  line-height: 20px;
  position: absolute;
  width: 15px;
  height: 15px;
  content: '•';
  border: 3px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button:before {
  color: rgba(0, 0, 0, 0);
}
.baners {
  margin-left: 2.5rem;
  margin-right: -2.5rem;
}
.baner {
  height: 15rem;
  max-width: 48%;
  margin-top: 2rem;
  color: #fff;
  padding-left: 5rem;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}
.baner h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.baner h3 {
  font-size: 1.7rem;
  font-family: 'Minion Pro';
  font-weight: normal;
  font-style: normal;
}
.baner_one {
  background-color: #78bce6;
}
.baner_two {
  background-color: #f16f50;
  margin-left: 4%;
}
.box_two {
  position: relative;
  height: 75rem;
}
.box_two h2 {
  font-family: "Arial";
  font-weight: 600;
  font-size: 1.4rem;
  color: #000000;
  display: block;
}
.box_two h3 {
  font-family: 'Arial Narrow', arial;
  font-weight: 500;
  color: #101010;
  font-size: 2.2rem;
  position: absolute;
  margin-top: 15rem;
  text-transform: uppercase;
  line-height: 2.909;
  width: 60%;
}
.box_two h3 .line {
  width: 100%;
  background-color: #ededed;
  height: 1px;
}
.box_two h3 .line span {
  display: block;
  height: 2px;
  width: 8%;
  background-color: #00ccdd;
}
form#form {
  position: relative;
  margin-top: 4rem;
  margin-left: -13rem;
  width: 40%;
  height: 6rem;
  padding-top: 1.2rem;
}
form#form:hover {
  background-color: #ffdb00;
}
.form-icon {
  display: inline-block;
  width: 55%;
}
.form-control {
  font-size: 2rem;
  font-family: "Arial";
  color: #969696;
  width: 100%;
}
button.btn {
  font-family: "Arial";
  position: absolute;
  display: inline-block;
  background-color: #52c246;
  color: #fff;
  font-size: 2.2rem;
  border: none;
  margin-left: -2px;
  cursor: pointer;
}
label {
  font-family: 'Arial Narrow', arial;
  display: inline-block;
  margin-bottom: .5rem;
  position: absolute;
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 3.429;
  color: #000000;
}
.slid {
  width: 100%;
  height: 40rem;
  position: relative;
  display: block;
  margin-top: 20rem;
}
.slid_slider {
  width: 23.5%;
  display: inline-block;
  margin-right: 2rem;
  vertical-align: top;
}
.slid_slider:last-child {
  margin-right: 0rem;
}
.slid_slider .slider_box {
  background-color: #eaeaea;
  width: 100%;
  height: 27rem;
  position: relative;
  display: block;
}
.slid_slider .slider_box i.fa.fa-star-o {
  cursor: pointer;
  text-align: right;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
}
.slid_slider .slider_box p {
  background-color: #ffdb00;
  font-family: "Arial";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 0rem;
  height: 0rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 1.2rem 1.2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-block;
}
button.slick-prev.slick-arrow {
  position: absolute;
  left: 90%;
  top: -10rem;
}
button.slick-next.slick-arrow {
  position: absolute;
  left: 95%;
  top: -10rem;
}
i.fa-chevron-left {
  color: #000;
  font-size: medium;
  cursor: pointer;
}
i.fa-chevron-right {
  color: #000;
  font-size: medium;
  cursor: pointer;
}
#prev {
  margin-top: -1rem;
}
#next {
  margin-top: -1rem;
}
slick-theme.css:21 .slick-prev,
.slick-next {
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  cursor: default;
  color: #000;
  border: none;
  background: transparent;
}
.slider_info {
  position: relative;
}
.slider_info h4 {
  font-family: 'Arial Narrow', arial;
  font-weight: 500;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.25;
  margin-top: 2rem;
}
.slider_info p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #e91113;
  line-height: 1.111;
}
.slider_info p span {
  font-family: "Lato";
  font-size: 1.4rem;
  text-decoration: line-through;
  color: #5c5c5c;
  line-height: 1.429;
}
.slider_info b {
  font-family: 'Arial Narrow', arial;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  line-height: 1.667;
  letter-spacing: 0.1rem;
}
.slider_info a {
  display: inline-block;
  font-size: 2.2rem;
  font-family: 'Arial Narrow', arial;
  font-weight: bold;
  line-height: 0.909;
  color: #ffffff;
  background-color: #00ccdd;
  padding: 0.8rem 4rem;
  right: 0;
  position: absolute;
  text-decoration: none;
  letter-spacing: 0.3rem;
  margin-top: -0.8rem;
}
.slider_info h5 {
  font-family: 'Arial Narrow', arial;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.25;
  margin-top: 2rem;
}
.slider_info h5 i {
  font-size: 1.5rem;
  margin-right: 1rem;
  font-weight: 100;
}
@media (max-width: 1183px) {
  .slider_info a {
    position: relative;
    margin-top: .5rem;
  }
  .slider_info b {
    width: 50%;
  }
  ul.col-md-3.menu a i {
    position: relative;
    margin-left: 0;
  }
  ul.col-md-3.menu a {
    font-size: 1.4rem;
  }
  .box_two h2 {
    margin: 0 auto;
  }
  form#form {
    position: relative;
    margin-top: 4rem;
    left: -25rem;
    margin-left: -20rem;
  }
  .baners {
    margin-left: 2rem;
    margin-right: -2rem;
  }
}
.calculator {
  width: 50%;
  background-color: #987373;
  margin: 0 auto;
  margin-top: 30rem;
  text-align: center;
  border: 5px solid #aeaeae;
  margin-bottom: 20rem;
}
.calculator h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.calculator label {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 3rem;
  margin: 1rem;
  line-height: 3rem;
}
.calculator select {
  display: block;
  margin: 2rem auto;
}
.calculator h4 {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.calculator span {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.calculator .price {
  width: 50%;
  height: 8rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 2px solid #382048;
}
select.form-control:not([size]):not([multiple]) {
  height: 4rem;
  margin-top: 1rem;
}
